@import url(common.css);
/*-----------------------
メインビジュアル
------------------------*/
.visual {
  color: #fff;
  font-size: 100px;
  font-family: "Darumadrop One", sans-serif;
  padding-top: 210px;
  padding-bottom: 210px;
  background-image: url(../img/tomarupage/mainv29.webp);
  background-color: #000;
  /* ブラウザが狭くなっても、全体が表示される
  真ん中から表示される */
  background-size: cover;
  background-position: center;
  margin-bottom: 90px;
  line-height: 1;
}
.visual p br.sp-only {
  display: none;
}
/* 泊まる */
main h1 {
  font-size: 27px;
  color: #9a0101;
  background-image: url(../img/tomarupage/onsen.svg);
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 25px;
  background-position: center top;
}
main h1 + p {
  max-width: 727px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 90px;
}
/* エリア全体 */
main div.area {
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  gap: 35px;
}
main div.area li a {
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 12px 90px;
  margin-bottom: 24px;
  border-radius: 10px;
}
main div.area li:nth-child(1) a {
  background-color: #ec91b9;
}
main div.area li:nth-child(1) a:hover {
  background-color: #e33982;
}
main div.area li:nth-child(2) a {
  background-color: #469ee3;
}
main div.area li:nth-child(2) a:hover {
  background-color: #3e67d8;
}
main div.area li:nth-child(3) a {
  background-color: #e1cc13;
}
main div.area li:nth-child(3) a:hover {
  background-color: #d1ad0d;
}
main div.area li:nth-child(4) a {
  background-color: #5ebb73;
}
main div.area li:nth-child(4) a:hover {
  background-color: #1a6f2e;
}
main div.area li:nth-child(5) a {
  background-color: #e7805a;
}
main div.area li:nth-child(5) a:hover {
  background-color: #e25a28;
}
main div.area li:nth-child(6) a {
  background-color: #9f96c5;
}
main div.area li:nth-child(6) a:hover {
  background-color: #7361c2;
}
/* エリアごと */
main section.sixarea {
  padding-bottom: 90px;
}
main section.sixarea h2 {
  color: #9a0101;
  font-size: 30px;
  font-weight: bold;
  border-bottom: #9a0101 solid 5px;
  text-align: left;
  margin-bottom: 30px;
}
main section.sixarea div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
main section.sixarea h3 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 22px 0;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}
main section.sixarea:nth-of-type(1) h3 {
  background-color: #ec91b9;
}
main section.sixarea:nth-of-type(1) a:hover h3 {
  background-color: #e33982;
  transition: 0.5s;
}
main section.sixarea:nth-of-type(2) h3 {
  background-color: #469ee3;
}
main section.sixarea:nth-of-type(2) a:hover h3 {
  background-color: #3e67d8;
  transition: 0.5s;
}
main section.sixarea:nth-of-type(3) h3 {
  background-color: #e1cc13;
}
main section.sixarea:nth-of-type(3) a:hover h3 {
  background-color: #d1ad0d;
  transition: 0.5s;
}
main section.sixarea:nth-of-type(4) h3 {
  background-color: #5ebb73;
}
main section.sixarea:nth-of-type(4) a:hover h3 {
  background-color: #1a6f2e;
  transition: 0.5s;
}
main section.sixarea:nth-of-type(5) h3 {
  background-color: #e7805a;
}
main section.sixarea:nth-of-type(5) a:hover h3 {
  background-color: #e25a28;
  transition: 0.5s;
}
main section.sixarea:nth-of-type(6) h3 {
  background-color: #9f96c5;
}
main section.sixarea:nth-of-type(6) a:hover h3 {
  background-color: #7361c2;
  transition: 0.5s;
}
main section.sixarea p img {
  width: 541px;
  border-radius: 10px 10px 0 0;
}
/* タブレット */
@media (max-width: 991px) {
  .visual {
    font-size: 75px;
    padding-top: 150px;
    padding-bottom: 150px;
    /* ブラウザが狭くなっても、全体が表示される
  真ん中から表示される */
  }
}
/* スマホ横 */
@media (max-width: 767px) {
  main h1 + p {
    padding-bottom: 30px;
  }
  main div.area {
    display: block;
  }
  main div.area p {
    padding-bottom: 30px;
  }
  main div.area li {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* スマホ縦くらい */
@media (max-width: 600px) {
  .visual {
    font-size: 70px;
  }
  .visual p br.sp-only {
    display: block;
  }
  main section.sixarea h3 {
    padding: 10px 0;
  }
}
@media (max-width: 440px) {
  main div.area li a {
    padding: 12px 0px;
  }
}
